<h6><%= title %></h6>
<br>
<%= link_to image_tag('facebook.png'), '/auth/facebook', :title => 'Facebook' %>
<%= link_to image_tag('twitter.png'), '/auth/twitter', :title => 'Twitter' %>
<br class="clear">
