<div class="centered_dialog small">
<h1><%=t '.title'%></h1>
<div><p><%=t '.text' %></p>
    <p><%=t '.text1' %></p> <br />
<%= link_to t('.reconfirm_link'), new_confirmation_path(resource_name) %>
</div>


</div>