<h6>Account not yet Activated</h6>
<p>
	To use your account, please activate it by following the instructions in the email we have sent you.
</p>
<p>
	Click the bottom below to get your activation email resend.
</p>
<br>
		
<%= form_tag resend_activation_account_path do %>
<p>
	<%= hidden_field_tag :email, params[:email] %>
</p>
<p>
	<%= submit_tag "Resend Activation Email", :class => :submit %>
</p>
<% end %>