<h6>Email not verified</h6>
<p>
	To use your account, please activate it by following the instructions in the email we have sent you.
</p>
<p>
	Click the bottom below to get your activation email resend.
</p>
<br>