<h6>Unverified Email</h6>
<p>
	Could not reset password using the email <%= flash[:email] %>, because it is unverified. To verify it, please follow the instructions in the email we sent you.
</p>
<p><%= link_to 'Resend Verification Email', verify_emails_path %></p>
