<div class="comments">
	<h2><a name="comments">Comments</a></h2>
	<table>
		<%= render :partial => '/comments/comment', :collection => target.comments %>
	</table>
	<%= render :partial => '/comments/new', :locals => { :target => target } %>
</div>