<div class="comments">
	<h6>Comments</h6>
	<table>
		<%= render :partial => '/comments/comment', :collection => target.comments %>
	</table>
	<%= render :partial => '/comments/new', :locals => { :target => target } %>
</div>