<%= title_section 'Edit Comment' %>

<div class="section">
	<div class="side">
		<ul class="commands">

			<li class="square clickable" title="Help">
				<% url = url ? "help_#{url}" : "help_#{@current_controller}_#{@current_action}" %>		    
				<%= link_to image_tag('buttons/help.png'), {:controller => :wiki_pages, :action => :show, :url => url }, :target => 'koblo_help' %>
			</li>

			<li class="end"></li>
		</ul>
	</div>

	<div class="main">

		<% form_for :comment, :url => {:action => :update}, :html => { :method => :put } do |f| -%>
			<%= f.text_area :body, :rows => 10 %>
			<%= submit_tag 'Save' %>
		<% end -%>
	</div>
</div>

