<%= form_for @issue, :url => url do |f| %>
<%= errors_for( @issue ).html_safe %>
  <p>
    <%= f.label :title %>
    <%= chars_remaining %>
    <%= f.text_area :title, { :rows => 1, "data-maxlength" => @issue.class::MAXLENGTH[:title] } %>
  </p>
  <p>
    <%= f.label :body %>
    <%= chars_remaining %>
    <%= f.text_area :body, { :rows => 10, "data-maxlength" => @issue.class::MAXLENGTH[:body] } %>
  </p>
  <% if @themes.any? %>
  <p>
    <%= f.label :themes %><br>
    <% for theme in @themes %>
      <%= check_box_tag "issue[theme_ids][]", theme.id, @issue.themes.include?(theme) %>
      <%= theme.title %><br>
    <% end %>
  </p>
  <% end %>
  <p>
    <%= f.label :tags %>
    <%= f.text_area :tag_list, { :rows => 1 } %>
  </p>
  <% if can? :manage, @issue %>
  <p>
    <%= f.label :labels %><br>
    <%= f.text_area :label_list, { :rows => 1 } %>
  </p>
  <% end %>
  <p><%= f.submit :class => :submit %></p>
<% end %>
