<% if @related && @related.any? %>
<div class="sidebar">
	<h2><%=t '.title' %></h2>
	<ul>
		<% for issue in @related %>
		<li><%= link_to issue.title, issue %></li>
		<% end %>
	</ul>
	<br>
	<p><%= link_to t('issues.view_all_issues'), all_issues_path %></p>
</div>
<% end %>

