<% if @related && @related.any? %>
<div class="sidebar">
	<h2><%=t '.title' %></h2>
	<ul>
		<% for issue in @related %>
		<li><%= link_to issue.title, issue %></li>
		<% end %>
	</ul>
</div>
<% end %>

