<h2>Top Issues</h2>
<table class="fullwidth">
	<% if @most_voted.any? %>
	<tr><th colspan=2><br>Most Votes</th>
	<% for issue in @most_voted %>
	<tr class="oneline">
		<td><%= link_to issue.title, issue %></td>
		<td><%= issue.votes_count %></td>
	</tr>
	<% end %>
	<% end %>

	<% if @most_commented.any? %>
	<tr><th colspan=2><br>Most Comments</th>
	<% for issue in @most_commented %>
	<tr class="oneline">
		<td><%= link_to issue.title, issue %></td>
		<td><%= issue.comments_count %></td>
	</tr>
	<% end %>
	<% end %>
</table>