<div class="header_title">
	
	<h1><%= t('issues.issues.title') %></h1>
	<h2><%= t('issues.issues.sub_title') %></h2>

</div>
<div class="header_open">
	<%= render 'new_button' %>
</div>
<div class="clear"></div>
<div id="new_issue"></div>