<div class="gr">
	<div class="g4">
		<%= render 'sidebar' %>
	</div>
	<div class="g8 ge">
		<%= render 'issues/new_button' %>
		<h2><%=t '.title' %></h2>
		<%= render :partial => 'issues/issues' %>
	</div>
</div>