<div class="gr">
	<div class="g4">
		<%= render 'sidebar' %>
	</div>
	<div class="g8 ge">
		<%= render @theme if @theme %>
		<% title = @theme ? t('.issues_title') : t('issues.all.title') %>
		<%= render :partial => 'issues/issues', :locals => { :title => title, :new_url => new_issue_path } %>
	</div>
</div>