<div id="content_responsive">

	<div class="page_header">

		<%= render :partial => 'top' %>
		<div class="clear"></div>
		<%= render 'issues/welcome' %>
	</div>

	<div class="page_content">

	    <%= render :partial => 'issues/issues' %>

	</div>
</div>