<div class="gr">
	<div class="g4">
		<%= render 'sidebar' %>
	</div>
	<div class="g8 ge">
		<%= render 'top' %>
		<% if @issues %>
			<h3><%=t '.num_found', :count => @issues.size %></h3>
			<br>
			<%= render :partial => 'issues/issues' if @issues.any? %>
		<% end %>
	</div>
</div>