<div id="content_responsive">

  <div class="page_header">

    <%= render :partial => 'top' %>
  </div>

  <div class="page_content">

      <% if @issues %>
      <h3><%=t '.num_found', :count => @issues.size %></h3>
      <br>
      <%= render :partial => 'issues/issues' if @issues.any? %>
    <% end %>

  </div>
</div>