<h1>Blog</h1>
<h3>Needed: Ruby on Rails developer to help build the new Cph Bicycle Route Planner</h3>
<p class="note">14. Maj, 2012</p>

<p>In 2011, the City Council of Copenhagen decided that the city should work to become the World’s Best Bicycle City. This includes establishing an awesome online bicycle route planner – build as open source.</p>
<p>The Bicycle Program is therefore looking for an experienced full stack web developer, who can help bring our existing Rails 3 prototype to the next level.</p>
<p>This is a short-term assignment, starting as soon as possible and ending June 15th, 2012, and with a fixed budget of 50.000 DKK + vat. Extension is a possibility.</p>
<p>You must have proven architecture, programming and interface design skills, and experience with agile development. You will be laying the groundwork for the next steps, and should enjoy crafting beautiful and efficient code that others can build on, as well as discussing product strategy.</p>
<p>The goal of this phase is not to finish the site, but to strengthen the architecture by adding Backbone.js (or similar), implementing key elements like a user feedback system and work on cross-browser compatibility.</p>
<p>Our current stack is fully open source and based on Rails 3, jQuery and Coffeescript. We’re using OpenStreetMap and Leaflet for maps and OSRM for routing. The Rails app is currently deployed on Heroku, but that might change. When it comes to the technical components, we’re opinionated, but open for good arguments.</p>
<p>The prototype can be seen at <a href="http://stormy-flower-5599.herokuapp.com">http://stormy-flower-5599.herokuapp.com</a> (avoid IE)</p>
<p>The code is on GitHub at <a href="https://github.com/emiltin/osrm-rails/tree/ibikecph">https://github.com/emiltin/osrm-rails/tree/ibikecph</a></p>

<h3>Requirements</h3>
• Solid Ruby on Rails experience. Rails 3 experience required.<br>
• Solid JavaScript and jQuery experience.<br>
• Solid CSS and HTML experience.<br>
• Coffeescript experience.<br>
• Backbone.js, Spine.js, or similar experience.<br>
• SQL experience.<br>
• Linux system administration experience.<br>

<h3>A plus if</h3>
• Leaflef and OpenStreetMap experience.<br>
• PostGIS experience.<br>
• Heroku experience.<br>

<h3>Offers</h3>
If you want to help on this exciting project, please email us an offer no later than Monday May 21st, and include:<br>
• Number of hours you will provide, taking into account the timeframe and budget.<br>
• Date you can start working.<br>
• Short description of yourself and your motivation.<br>
• Short description of the last 2 projects you worked on, including your role.<br>
• Your CV (can be on LinkedIn).<br>
• Link to your GitHub profile (or similar), if you have one.<br>

<h3>Contact</h3>
Emil Tin<br>
emil.tin@tmf.kk.dk<br>
+45 3366 3433<br>
City of Copenhagen<br>
The Technical and Environmental Administration<br>
Department of Traffic, Bicycle Program<br>
