<div id="topbar">
	<label>
		<p>From:</p>
		<input type="text" class="from"  placeholder='From'>
	</label>
	<label>
		<p>To:</p>
		<input type="text" class="to" placeholder="To">
	</label>
	<label>
		<p>Via:</p>
		<input type="text" class="via" placeholder="Via">
	</label>
</div>

<div id="viewport">
	<div id="map"></div>
</div>
