<div id="topbar">
	<label>
		<div class="pin from"></div>
		<input type="text" class="from"  placeholder='From'>
	</label>
	<img src="/assets/ibikecph.png" alt="I BIKE CPH">
	<label class="last">
		<div class="pin to"></div>
		<input type="text" class="to" placeholder="To">
	</label>
</div>

<div id="viewport">
	<div id="map"></div>
</div>
