<div class="sidebar">
	<% if can? :manage, BlogEntry %>
		<div class="buttons righty">
			<%= link_to t('.new'), new_blog_entry_path %>
		</div>
	<% end %>
	<h2><%=t '.title' %></h2>
	<ul>
		<%= render :partial => 'list', :collection => @latest, :as => :blog_entry %>
	</ul>
	<br>
	<p><%= link_to "#{t('.archive')} &rarr;".html_safe, archive_blog_entry_index_path %></p>
</div>