<% if can? :manage, BlogEntry %>
	<div class="righty buttons">
		<%= link_to "New Entry",  new_blog_entry_path %>
	</div>
<% end %>
<ul>
	<h1><%=t '.title' %></h1>
	<% for blog_entry in @blog_entries %>
		<li>
			<%= link_to blog_entry.title, blog_entry %><br>
			<span class="note"><%= time_ago_in_words blog_entry.created_at %> ago</span>
		</li>
	<% end %>
</ul>
