<div class="gr">
	<div class="g8">
		<%= render :partial => 'blog_entry', :collection => @blog_entries %>
	</div>
	<div class="g1">&nbsp;</div>
	<div class="g3 ge">
		<% if can? :manage, BlogEntry %>
			<div class="buttons righty">
				<%= link_to t('.new'), new_blog_entry_path %>
			</div>
		<% end %>
	</div>
</div>
