<div class="gr">
	<div class="g8 left-col">
		<div class="inner">
			<h1 class="blog-title"><%=t 'news.title' %></h1>
			<%= render :partial => 'blog_entry', :collection => @blog_entries %>
		</div>
	</div>
	<div class="g4 ge right-col">
		<div class="inner">
			<%= render 'tag_cloud' %>
			<%= render 'links' %>
		</div>
	</div>
	<div class="clear"></div>
</div>
