<div class="gr">
	<div class="g4">
		<%= render 'latest' %>
		<%= render 'tag_cloud' %>
	</div>
	<div class="g8 ge">
		<%= render :partial => 'blog_entry', :collection => @blog_entries %>
	</div>
</div>
