<div id="news_container">
	<div id="news_list">
		<div id="news_top">
			<%= render 'links' %>
			<%= render 'tag_cloud' %>
		</div>

		<h1 class="blog-title"><%=t '.title', :tag => params[:tag] %></h1>
		<%= render :partial => "blog_entry", :collection => @blog_entries, :as => :blog_entry%>
		<div class="clear"></div>
	</div>
</div>
