<div id="news_container">
	<%= render :partial => 'navigation' %>
	<div id="news_list">
		<article class="item single">
			<div class="inner">
				<div class="aside">
					<h1><%=t 'about.apid' %></h1>
					<%= image_tag('_new/about-image.jpg') %>
				</div>
				<div class="main">
					<%if I18n.locale==:da%>

						<p>API DA</p>

					<%else%>

						<p>API EN</p>
					<%end%>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>

</div>