<div id="news_container">
  <div id="news_list">
    <h1 class="blog-title"><%=t 'about.title' %></h1>
    <%= render :partial => 'blog/blog_entry', :collection => @blog_entries %>
    <div class="clear"></div>
  </div>
</div>