@import "base.css.scss";

body {
    line-height: 1.3em;
    background: white;
    position: relative;
}
hr {
    border: none;
    border-top: 1px solid $lightish;
}
.g2.square {
    display: block;
    margin: 5px 0;
    border-radius: 5px;
}
div#content {
    padding: 40px 0 20px 0;
}
div#footer {
    clear: both;
    height: $gutter;
}
div.gr {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    .clear {
        clear: both;
    }
}
.left-col {
    background: #fff;
    border-radius: 0 0 5px 5px;
}
div {
    &.g12, &.g8, &.g6, &.g4, &.g3, &.g2, &.g1  {
        margin-right: 3.8%;
        float: left;
    }
    &.g12 {
        width: 100%;
    }
    &.g8 {
        width: 65.4%;
        .inner {
            padding: $gutter;
        }
    }
    &.g6 {
        width: 48%;
    }
    &.g4 {
        width: 30.75%;
        .inner {
            padding: $gutter 0;
            h2 {
                font-size: 15px;
            }
        }
    }
    &.g3 {
        width: 22.05%;
    }
    &.g2 {
        width: 13.45%;
    }
    &.g1 {
        width: 4.85%;
    }
    &.ge {
        margin-right: 0;
    }
}
.tags {
    font-weight: bold;
    font-size: 12px;
    list-style: none;
    padding-bottom: 10px;
    li {
        a {
            display: block;
            padding: 3px;
        }
    }
}

label, .chars_remaining, p#terms a {
    font-size: 0.8em;
    font-weight: bold;
    color: $dark;
    margin-top: 20px;
}
textarea {
    width: 100%;
    border: 1px solid $lightish;
    padding: 2px;
}
.form_fields {
    margin-left: 20px;
    margin-bottom: 20px;
}
div#form_errors, div#form_notice {
    color: white;
    padding: 10px;
    font-size: 1.2em;
}
div#form_errors, div#form_notice {
    margin-bottom: 1em;
}
div#form_notice {
    background-color: $highlight;
}
div#form_errors {
    background-color: $error;
}
div#form_errors, div#form_notice {
    display: none;
}
.submit, a.submit {
    background-color: $color;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
.toggle {
    background-color: $medium;
    &.on {
        background-color: $highlight;
    }
    &:hover {
        background-color: $hover;
    }
}
input.submit {
    margin-top: 10px;
    margin-right: 10px;
}
.submit:hover, a.submit:hover a.on.submit:hover {
    background-color: $hover;
}
.field_with_errors {
    color: $error;
    display: inline;
}
span.chars_remaining {
    color: $note_color;
    font-weight: normal;
}
span.too_long {
    color: $error;
}
#error_explanation {
    margin: 10px 0;
    ul {
        list-style-position: inside;
        li {
            color: $error;
        }
    }
}

input {
    font-size: 1em;
}
.lefty {
    float: left;
    margin-right: $gutter;
    margin-bottom: 10px;
}
.righty {
    float: right;
    margin-left: $gutter;
    margin-bottom: 10px;
}
.left {
    float: left;
    margin-right: $half_gutter;
}
.right {
    float: right;
    margin-left: $half_gutter;
}
div.dialog {
    float: none;
    background-color: $light;
    padding: $half_gutter - 2*$border_width;
    border-radius: 4px;
    margin-bottom: $half_gutter;
    border: $border_width solid $lightish;
}
div.oauth_providers {
    margin-top: $gutter;
}
.gr .sidebar {
  clear: both;
  background-color: $light;
  border-left: 0.5*$gutter solid $light;
  margin-left: -0.5*$gutter;
  border-right: 0.5*$gutter solid $light;
  margin-right: -0.5*$gutter;
  border-radius: 4px;
  padding-top: 0.5*$gutter;
  padding-bottom: 0.5*$gutter;
  color: black;
}
.gr {
  .sidebar + .sidebar {
    margin-top: 0.5*$gutter;
  }
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 0.5em;
    width: 100%;
    td.avatar {
        width: $avatar;
    }
    p {
        margin: 0;
    }
    tr+tr {
        border-top: 1px solid $light;
    }
}
td, th {
    text-align: left;
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
    &+td,&+th {
        padding-left: 0.5*$gutter;
    }
}
th {
    font-weight: bold;
}
td.buttons, th.buttons {
    white-space: nowrap;
    &.last {
        text-align: right;
    }
}
.button, .buttons a, .label_list a, .tag_cloud a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    padding: 2px 4px 2px 4px;
    line-height: 1.2em;
  font-size: 0.9em;
    border-radius: 2px;
    background-color: $medium;
    font-weight: bold;
  margin-bottom: 0.2em;
    color: white;
  &:hover {
    text-decoration: none;
  }
}
.button, .buttons a {
    background-color: $color;
}
.button:hover, .buttons a:hover {
    background-color: $dark;
    color: white;
    text-decoration: none;
}
.buttons.big a {
  font-size: 1.3em;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
}
.label_picker {
    margin-bottom: $half_gutter;      
}
td.note {
    padding-top:0.4em;
}
.pagination {
  font-size: 0.8em;
  margin: 0;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
  a, span, em {
    padding: .2em .5em; 
    color: white;
    text-decoration: none;
  }
  span.disabled {
    color: #aaa;
  }
  span.current {
    font-weight: bold;
    color: $dark;
  }
  a {
    color: $color;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  em {
    color: $dark;
  }
  .page_info {
    color: $medium;
    padding-top: .8em;
  }
  .previous_page, .next_page {
    border-width: 2px;
    color: $color;
    &.disabled {
      color: $medium;
    }
  }
  .previous_page {
    margin-right: 1em;
  }
  .next_page {
    margin-left: 1em;
  }
}
table.issues {
  a {
    text-decoration: none;
  }
  td {
    a.user {
      color: $darkish;
    }  
    &.comments {
      a {
        color: $darkish;
      }
    }
    &.comments, &.editing {
      white-space: nowrap; 
    }
  }
}
.tags {
    color: $note_color;
    font-size: 0.8em;
    font-weight: bold;
}

div.note {
    font-size: 0.8;
    color: $darkish;
    display: none;
}
ul.sort {
    list-style: none;
    li {
        float: left;
    }
    li + li {
        margin-left: 1.5em;
    }
}
img.dialog {
  width: 340px;
  height: 127px;
  margin-bottom: 1em;
}
img.tester {
  width: 530px;
  height: 200px;
  margin-bottom: 1em;
}
.theme {
  margin-bottom: 0.5*$gutter;
}
li a {
  text-decoration: none;
}
.field_with_errors label {
  color: $color;
  &:after {
    content: " *";
  }
}
.user_list {
  .avatar {
    margin-right: 5px;
    vertical-align: top;
  }
}
.centered_dialog {
    background: #fff;
    padding: 50px;
    margin: 20px auto 0;
    border-radius: 5px;
    color: #333;
    .tokens {
        background: #f4f4f4;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 12px;
        margin: 20px 0 30px;
    }
    .submits {
        text-align: left;
        margin: 15px 0;
        button,
        input,
        .cancel,
        .facebook {
            color: #fff;
            background: #00a3e0;
            font-size: 1em;
            font-weight: bold;
            text-align: center;
            padding: 14px 32px 11px;
            border-radius: 8px;
            cursor: pointer;
            display: inline-block;
            border-style: none;
            margin: 0 10px 10px 0;
            -webkit-appearance: none;
            text-decoration: none;
        }
        .cancel {
            color: #fff;
            background: #888;
        }
        .facebook {
            background: #4c66a4;
        }

    }
    .register {
        border-top: 1px solid #ddd;
        font-weight: bold;
        margin: 20px 0 0;
        padding: 20px 0 0;
        a {
            margin: 0 4px;
        }
    }
    .text_input {
        padding: 10px 10px 8px;
        font-size: 0.80em;
        background: #f4f4f4 !important;
        border-radius: 2px;
        border: 1px solid #e3e3e3;
        color: #333;
        outline: none;
        font-weight: bold;
        position: relative;
        z-index: 1;
    }
    &.medium {
        width: 650px;
    }
    &.small {
        width: 600px;
        .text_input {
            width: 578px; 
        }
    }
}

/* New feedback */
.clear {
    clear: both;
}

#content_responsive {
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px;
}

.page_header {
    margin: 0px 15px 10px;
    position: relative;
    .back {
        margin-left: -12px;
        a {
            color: #dc1e19;
            &:hover {
                color: #a81813;
            }
        }
    }
    .search_form {
        position: absolute;
        right: 250px;
        top: 128px;
        height: 40px;
        border-radius: 4px;
        .search_field {
            border-radius: 4px;
            font-size: 16px;
            font-weight: bold;
            padding: 10px 10px 9px;
            border: 1px solid #ccc;
            outline: none;
            color: #333;
            width: 188px;
            padding-right: 48px;
        }
        .submit {
            position: absolute;
            right: 0;
            top: 0;
            margin: 0;
            padding: 0;
            width: 46px;
            height: 40px;
            border-radius: 0 4px 4px 0;
            text-indent: -5000px;
            overflow: hidden;
            background: #009ee7 image-url("_new/feedback-search-icon.png") no-repeat center center;
            border: 2px solid #009ee7 !important;
        }
    }
    .welcome {
        color: #333;
        margin: -45px 300px 0 -5px;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        h3 {
            p {
                font-size: 16px;
            }
        }
        p {
            font-size: 12px;
        }
    }
    .header_title {
        float: left;
        padding-left: 0;
        h1 {
            color: #dc1e19;
            font-size: 42px;
            margin-top: 10px;
        }
        h2 {
            color: #222;
            font-size: 28px;
        }
    }
    .header_open {
        background: image-url("_new/header_open.png") no-repeat;
        font-weight: bold;
        float: right;
        height: 40px;
        width: 180px;
        padding: 140px 0 0 55px;
        a {
            color: #fff!important;
            text-decoration: none!important;
        }
    }
}

.page_header_nav {
    clear: both;
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
    li {
        float: left;
        font-size: 18px;
        font-weight: 700;
        margin-right: 30px;
        a {
            &:link, &:visited {
                color: #8b8b8b;
            }
            &:hover, &:active {
                color: #222;
            }
            &.active {
                &:link, &:visited, &:hover, &:active {
                    color: #222;
                    border-bottom: 1px solid red;
                }
            }
        }
    }
}

.grid {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    .item {
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        .item_thumb {
            background: #ccc;
            border-radius: 6px;
            height: 270px;
            position: relative;
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
        }
        h2 {
            color: #fff;
            font-size: 24px;
            line-height: 1.1em;
            padding: 30px 20px 0;
            &.smaller {
                font-size: 14px;
            }
        }
        .from {
            color: rgba(0, 0, 0, 0.5);
            font-size: 16px;
            padding: 0 20px;
        }
        .soc {
            opacity: 0;
            left: 18px;
            position: absolute;
            bottom: 10px;
            -moz-transition: all .2s ease;
            -ms-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
            -webkit-transition: all .2s ease;
        }
        &.active {
            overflow: hidden;
            .item_thumb {
                background-image: image-url('_new/issue-active.png') !important;
                background-repeat: no-repeat !important;
                background-position: center bottom !important;
            }
            a, .soc {
                margin-left: -1000px;
            }
        }
    }
}
.panel {
    display: none;
    left: 0;
    margin-top: 10px;
    position: absolute;
    top: auto;
    width: 100%;
}

.panel_inner {
    border-radius: 6px;
    color: #fff;
    font-size: 13px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
}

.panel_close {
    background: image-url("_new/panel_close.png");
    height: 16px;
    opacity: .5;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.expand {
    border-radius: 6px;
}

.grid .item {
    &:hover .soc, &.active .soc {
        opacity: 1;
    }
}

.panel_close:hover {
    opacity: 1;
}

.center {
    max-width: 500px;
    padding: 40px;
    margin: 0 auto;
    position: relative;
}

@media only screen and (max-width: 767px) {
    div.issues {
        margin: 10px auto;
        .inner {
            padding: 0 10px;
            .issue {
                margin-bottom: 10px;
            }
        }
    }
    #content_responsive {
        padding: 10px;
    }
    .page_header {
        overflow: hidden;
        margin: 0 0 10px;
        .welcome {
            margin: 0;
            padding: 20px;
        }
        .header_title {
            float: none;
            padding-left: 0;
            margin-bottom: 10px;
            h1 {
                color: #dc1e19;
                font-size: 28px;
                margin-top: 10px;
            }
            h2 {
                color: #222;
                font-size: 20px;
            }
        }
        .header_open {
            background: image-url("_new/header_open.png") no-repeat center bottom;
            font-weight: bold;
            float: none;
            height: 40px;
            width: 180px;
            padding: 12px 0 0 60px;
            a {
                color: #fff!important;
                text-decoration: none!important;
            }
        }
    }
    .grid {
        .item {
            margin: 0 0 10px;
            .item_thumb {
                height: auto;
                padding-bottom: 40px;
                .soc { opacity: 1; }
            }
            &.active {
                overflow: hidden;
                .item_thumb {
                    background-position: center 20px !important;
                }
            }
        }
    }
    .centered_dialog {
        margin: 10px auto;
        padding: 20px;
        &.medium {
            width: 650px;
        }
        &.small {
            width: 260px;
            .text_input {
                width: 238px;
            }
        }
    }
    div {
        &.g12, &.g8, &.g6, &.g4, &.g3, &.g2, &.g1  {
            margin-right: 0;
            width: 100%;
            float: none;
        }
         &.g8 {
            .inner {
                padding: $half_gutter;
                h1:first-child {
                    padding-right: 30px;
                }
            }
        }
        .right-col {
            position: absolute;
            top: 0;
            right: 30px;
            width: 200px;
            background: #eee;
            padding: 20px;
            margin: 0;
            border-radius: 0 0 5px 5px;
            z-index: 1;
            display: none;
            .inner {
                padding: 0;
            }
        }
    }
}
