@import "base.css.scss";

body {
    line-height: 1.3em;
}
div#content {
    width: $columns_12;
    padding: $gutter;
    padding-top: 0.5*$gutter;
}
div#footer {
    clear: both;
    height: $gutter;
}
div.gr {
    float: left;
}
div {
    &.g12, &.g8, &.g6, &.g4, &.g3, &.g2, &.g1  {
        margin-right: $gutter;
        float: left;
    }
    &.g12 {
        width: $columns_12;
    }
    &.g8 {
        width: $columns_8;
    }
    &.g6 {
        width: $columns_6;
    }
    &.g4 {
        width: $columns_4;
    }
    &.g3 {
        width: $columns_3;
    }
    &.g2 {
        width: $columns_2;
    }
    &.g1 {
        width: $column;
    }
    &.ge {
        margin-right: 0;
    }
}
img {
    &.g12 {
        max-width: $columns_12;
        max-height: $columns_12;
        &.square {
            height: $columns_12
        }
    }
    &.g8 {
        max-width: $columns_8;
        max-height: $columns_8;
        &.inside {
            width: $columns_8 - 2*$gutter;
            height: auto;
        }
        &.square {
            height: $columns_8
        }
    }
    &.g6 {
        max-width: $columns_6;
        max-height: $columns_6;
        &.inside {
            width: $columns_6 - 2*$gutter;
            height: auto;
        }
        &.square {
            height: $columns_6
        }
    }
    &.g5 {
        max-width: $columns_5;
        max-height: $columns_5;
        &.inside {
            width: $columns_5 - 2*$gutter;
            height: auto;
        }
        &.square {
            height: $columns_5
        }
    }
    &.g4 {
        max-width: $columns_4;
        max-height: $columns_4;
        &.inside {
            width: $columns_4 - 2*$gutter;
            height: auto;
        }
        &.square {
            height: $columns_4
        }
    }
    &.g3 {
        max-width: $columns_3;
        max-height: $columns_3;
        &.square {
            height: $columns_3
        }
    }
    &.g2 {
        max-width: $columns_2;
        max-height: $columns_2;
        &.square {
            height: $columns_2
        }
    }
    &.g1 {
        max-width: $column;
        max-height: $column;
        &.square {
            height: $column
        }
    }
    &.avatar {
        height: $avatar;
        width: $avatar;
    }
}
label, .chars_remaining, p#terms a {
    font-size: 0.8em;
    font-weight: bold;
    color: $dark;
    margin-top: 20px;
}
textarea {
    width: 100%;
    border: 1px solid $lightish;
    padding: 2px;
}
.form_fields {
    margin-left: 20px;
    margin-bottom: 20px;
}
div#form_errors, div#form_notice {
    color: white;
    padding: 10px;
    font-size: 1.2em;
}
div#form_errors, div#form_notice {
    margin-bottom: 1em;
}
div#form_notice {
    background-color: $highlight;
}
div#form_errors {
    background-color: $error;
}
div#form_errors, div#form_notice {
    display: none;
}
.submit, a.submit {
    background-color: $color;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
.toggle {
    background-color: $medium;	
    &.on {
        background-color: $highlight;	
    }
    &:hover {
        background-color: $hover;	
    }
}
input.submit {
    margin-top: 10px;
    margin-right: 10px;
}
.submit:hover, a.submit:hover a.on.submit:hover {
    background-color: $hover;
}
p {
    margin-bottom: 0.5em;
}
.field_with_errors {
    color: $error;
    display: inline;
}
span.chars_remaining {
    color: $note_color;
    font-weight: normal;
}
span.too_long {
    color: $error;
}
#error_explanation {
    padding: 20px;
    background-color: $error;
    font-size: 1em;
    margin-bottom: 10px;
}
#error_explanation ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}
#error_explanation ul li {
    color: white;
    margin: 0;
}
input {
    font-size: 1em;
}
h1, h2 {
    color: $dark;
    margin-bottom: 0.3em;
    a {
        text-decoration: none;
    }
}
h1 {
    font-size: 1.6em;
    margin-bottom: 0.3em;
}
h2 {
    font-size: 1.3em;
}
.lefty {
    float: left;
    margin-right: $gutter;
    margin-bottom: 10px;
}
.righty {
    float: right;
    margin-left: $gutter;
    margin-bottom: 10px;
}
.left {
    float: left;
    margin-right: $half_gutter;
}
.right {
    float: right;
    margin-left: $half_gutter;
}
div.dialog {
    float: none;
    background-color: $light;
    padding: $half_gutter - 2*$border_width;
    border-radius: 4px;
    margin-bottom: $half_gutter;
    border: $border_width solid $lightish;
}
div.oauth_providers {
    margin-top: $gutter;
}
.gr .sidebar {
  clear: both;
  background-color: yellow;
  border-left: 0.5*$gutter solid yellow;
  margin-left: -0.5*$gutter;
  border-right: 0.5*$gutter solid yellow;
  margin-right: -0.5*$gutter;
  border-radius: 4px;
  padding-top: 0.5*$gutter;
  padding-bottom: 0.5*$gutter;
  color: black;
}
.gr {
  .sidebar + .sidebar {
    margin-top: 0.5*$gutter;
  }
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 0.5em;
    width: 100%;
    td.avatar {
        width: $avatar;
    }
    p {
        margin: 0;
    }
    tr+tr {
        border-top: 1px solid $light;
    }
}
td, th {
    text-align: left;
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
    &+td,&+th {
        padding-left: 0.5*$gutter;
    }
}
th {
    font-weight: bold;
}
td.buttons, th.buttons {
    white-space: nowrap;
    &.last {
        text-align: right;
    }
}
.button, .buttons a, .label_list a, .tag_cloud a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    padding: 2px 4px 2px 4px;
    line-height: 1.2em;
	font-size: 0.9em;
    border-radius: 2px;
    background-color: $medium;
    font-weight: bold;
	margin-bottom: 0.2em;
    color: white;
	&:hover {
		text-decoration: none;
	}
}
.button, .buttons a {
    background-color: $color;
}
.tag_cloud a {
	background-color: $medium;
	color: white;
	&:hover {
		background-color: $darkish;
		color: white
	}
	&.on:hover {
		background-color: $dark;
	}
	&.tag1 { font-size: 0.9em; }
	&.tag2 { font-size: 1.1em; }
	&.tag3 { font-size: 1.3em; }
	&.tag4 { font-size: 1.5em; }
	&.on {
		background-color: $dark;
		color: white;
	}
}
.label_list a {
	background-color: #4af;
	color: white;
	&:hover {
		background-color: #4af*0.7;
		color: white
	}
	&.on:hover {
		background-color: $dark;
	}
	&.on {
		background-color: #4af*0.7;
		color: white;
	}
}
.label_list, .tag_cloud {
    margin-bottom: 0.5em;
}
.button:hover, .buttons a:hover {
    background-color: $dark;
    color: white;
    text-decoration: none;
}
.buttons.big a {
	font-size: 1.3em;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
}
.label_picker {
    margin-bottom: $half_gutter;      
}
td.note {
    padding-top:0.4em;
}
*+.comments {
    margin-top: $gutter;
}
.comments {
    table {
        font-size: 0.9em;
        float: left;
        width: 100%;
    }
}
.new_comment {
    margin-top: 10px;
}
div.blog {
    margin-bottom: $gutter;
}
ul.blog_entries {
  list-style: none;
    li + li {
        margin-top: 0.5em;
    }
}
.pagination {
  font-size: 0.8em;
	margin: 0;
	text-align: left;
	font-weight: bold;
	margin-bottom: 10px;
  a, span, em {
  	padding: .2em .5em; 
  	color: white;
  	text-decoration: none;
  }
  span.disabled {
  	color: #aaa;
  }
  span.current {
  	font-weight: bold;
  	color: $dark;
  }
  a {
  	color: $color;
    &:hover, &:focus {
    	text-decoration: underline;
    }
  }
  em {
  	color: $dark;
  }
  .page_info {
  	color: $medium;
  	padding-top: .8em;
  }
  .previous_page, .next_page {
  	border-width: 2px;
  	color: $color;
  	&.disabled {
  	  color: $medium;
	  }
  }
  .previous_page {
  	margin-right: 1em;
  }
  .next_page {
  	margin-left: 1em;
  }
}
table.issues {
  a {
    text-decoration: none;
  }
  td {
    a.user {
      color: $darkish;
    }  
    &.comments {
      a {
        color: $darkish;
      }
    }
    &.comments, &.editing {
      white-space: nowrap; 
    }
  }
}
.tags {
    color: $note_color;
    font-size: 0.8em;
    font-weight: bold;
}

p#terms {
    textarea {
        display: none;
        font-size: 0.8em;
        user-select: none;
    }
}
div.note {
    font-size: 0.9;
    color: $darkish;
}
ul.sort {
    list-style: none;
    li {
        float: left;
    }
    li + li {
        margin-left: 1.5em;
    }
}
img.dialog {
	width: 340px;
	height: 109px;
	margin-bottom: 1em;
}
.theme {
  margin-bottom: 0.5*$gutter;
}
li a {
  text-decoration: none;
}