*{
	padding:0px;
	margin:0px;
	font-family:'Helvetica', 'Arial', sans-serif;
}
html{
	background:#222;
	height:100%;
	overflow:hidden;
}




body{
	background:#FFFDF4;
	height:100%;
	margin:20px;
	padding:15px;


	#topbar{
		height:68px;
		label{

			.pin{
				width:25px;
				height:43px;
				float:right;
				margin-top:2px;
				margin-left:5px;
				margin-right:1px;
				border-radius:5px;
				cursor:move;

				&.from{
					background:url('/assets/images/marker-start.png') center center no-repeat;
				}

				&.to{
					background:url('/assets/images/marker-end.png') center center no-repeat;
				}

				&.reset{
					background:url('/assets/images/marker-remove.png') center center no-repeat;	
					cursor:pointer;				
				}
			}


			&.last{
				margin-left:10px;
			}

			p{
				display:none;
				margin-left:10px;
				font-size:15px;		
				margin-bottom:10px;	
				float:left;
			}
			input[type=text]{
				padding:10px;
				width:490px;
				font-size:18px;
				line-height:20px;
				border:2px solid #eee;
				border-radius:5px;
				clear:none;
				float:left;
			}



			margin-top:5px;
			float:left;
			position: relative;
			margin-left:5px;
			padding:5px;
			border-radius: 5px;
			background:#eee;

		}
		border:1px solid #F3EEC8;
		border-bottom:none;
		float:left;
		clear:none;

		.delete{
				width:40px;
				height:40px;
				margin-top:2px;

				float:right;
				cursor:pointer;
				clear:none;
				background:url('/assets/cancel.png') no-repeat center center;
		}


		background:white;
	}

	#viewport{
		width:100%;
		position: relative;
		overflow:hidden;
		border:1px solid #F3EEC8;
		border-left-color:#ddd;
		height:100%;
		float:left;
		clear:none;

		#map {
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			z-index: 0;
		}
	}

}