$sat: 0;
$hue: 25;
$color: hsl( 0, 90%, 50% );
$hover: hsl( 10, 50%, 40% );
$error: hsl( 0, 70%, 50% );
$highlight: hsl( 80, 80%, 60% );
$text_color: hsl( $hue, 10%, 10% );
$note_color: hsl( $hue, 10%, 60% );
$black: hsl( $hue, $sat, 10% );
$dark: hsl( $hue, $sat*0.5, 35% );
$darkish: hsl( $hue, $sat, 50% );
$medium: hsl( $hue, $sat, 75% );
$lightish: hsl( $hue, $sat, 90% );
$light: hsl( $hue, $sat, 97% );
$back: hsl( $hue, $sat, 100% );
$link: hsl( 230, 30%, 50% );

$columns: 12;
$column: 60px;
$gutter: 40px;
$half_gutter: 0.5*$gutter;
$image_ratio: 2.0/3.0;
$avatar: $column;
$width: $columns*$column+($columns - 1)*$gutter;
$border_width: 1px;
$columns_12: 12*$column+11*$gutter;
$columns_10: 10*$column+9*$gutter;
$columns_8: 8*$column+7*$gutter;
$columns_6: 6*$column+5*$gutter;
$columns_5: 5*$column+4*$gutter;
$columns_4: 4*$column+3*$gutter;
$columns_3: 3*$column+2*$gutter;
$columns_3: 3*$column+2*$gutter;
$columns_2: 2*$column+1*$gutter;
$columns_12_pad: 12*$column+11*$gutter - 2*$gutter;
$columns_10_pad: 10*$column+9*$gutter - 2*$gutter;
$columns_8_pad: 8*$column+7*$gutter - 2*$gutter;
$columns_6_pad: 6*$column+5*$gutter - 2*$gutter;
$columns_5_pad: 5*$column+4*$gutter - 2*$gutter;
$columns_4_pad: 4*$column+3*$gutter - 2*$gutter;
$columns_3_pad: 3*$column+2*$gutter - 2*$gutter;
$columns_3_pad: 3*$column+2*$gutter - 2*$gutter;
$columns_2_pad: 2*$column+1*$gutter - 2*$gutter;

* {
	padding: 0px;
	margin: 0px;
	font-family: 'Helvetica', 'Arial', sans-serif;
}
html {
	min-width: 445px;
}
body {
    position: relative;
    #alpha {
        position: absolute;
        right: 0;
        top: -3px;
        z-index: 10;
    }
}
img {
	border: none;	//avoid stupid borders arond logo and alpha flag in IE
}
a {
    color: $color;
    &:hover {
        color: $hover;
    }
}
#header {
    background-color: $dark;
    color: white;
    font-size: 0.9em;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    height: 35px;
    img.logo {
        width: 120px;
        height: 25px;
        float: left;
        margin: 4px $half_gutter;
    }
}
.menu {
    float: left;
    margin-left: $half_gutter;
    margin-right: $half_gutter;
    ul {
        list-style-type: none;
        li {
            background-color: $dark;
            float: left;
            display: inline-block;
            height: 35px;
            &.selected, &.selected:hover {
                background-color: $color;
            }
            &:hover {
                background-color: $darkish;
            }
            a {
                padding: 0px 14px;
                line-height: 2.5em;
                font-weight: bold;
                color: white;
                font-size: 1em;
                text-decoration: none;
            }
        }
    }
    &.locales {
        li {
			a {
				font-weight: normal;
                padding: 0px 7px;
			}
            &:hover {
                background-color: $darkish*0.8;
            }
            &.selected, &.selected:hover {
                background-color: $darkish;
            }
        }
    }
    &.login {
        position: absolute;
        top: 0;
        right: $gutter;
    }
}
.note {
    color: $note_color;
    font-size: 0.8em;
}
hr {
    border-color: $light;
    margin-bottom: $half_gutter;
}
.clear {
    clear: both;
}
#flash {
    color: white;
    padding: $half_gutter $gutter;
    font-weight: bold;
    border: 0;
    &.notice {
        background-color: $highlight;
    }
    &.alert {
        background-color: $error;
    }
    &.empty {
        background-color: transparent;
    }   
}