$sat: 0;
$hue: 25;
$color: #555;
$yellow: #fff200;
$hover: #222;
$error: hsl( 0, 70%, 50% );
$highlight: hsl( 90, 100%, 45% );
$text_color: hsl( $hue, 10%, 10% );
$note_color: hsl( $hue, 10%, 60% );
$black: hsl( $hue, $sat, 10% );
$dark: hsl( $hue, $sat*0.5, 35% );
$darkish: hsl( $hue, $sat, 50% );
$medium: hsl( $hue, $sat, 75% );
$lightish: hsl( $hue, $sat, 90% );
$light: hsl( $hue, $sat, 97% );
$back: hsl( $hue, $sat, 100% );
$link: hsl( 230, 30%, 50% );

$new_dark: hsl(0, 0, 13);
$white: hsl(0, 0, 100);

$columns: 12;
$column: 60px;
$gutter: 40px;
$half_gutter: 0.5*$gutter;
$image_ratio: 2.0/3.0;
$avatar: $column;
$width: $columns*$column+($columns - 1)*$gutter;
$border_width: 1px;
$columns_12: 12*$column+11*$gutter;
$columns_10: 10*$column+9*$gutter;
$columns_8: 8*$column+7*$gutter;
$columns_6: 6*$column+5*$gutter;
$columns_5: 5*$column+4*$gutter;
$columns_4: 4*$column+3*$gutter;
$columns_3: 3*$column+2*$gutter;
$columns_3: 3*$column+2*$gutter;
$columns_2: 2*$column+1*$gutter;
$columns_12_pad: 12*$column+11*$gutter - 2*$gutter;
$columns_10_pad: 10*$column+9*$gutter - 2*$gutter;
$columns_8_pad: 8*$column+7*$gutter - 2*$gutter;
$columns_6_pad: 6*$column+5*$gutter - 2*$gutter;
$columns_5_pad: 5*$column+4*$gutter - 2*$gutter;
$columns_4_pad: 4*$column+3*$gutter - 2*$gutter;
$columns_3_pad: 3*$column+2*$gutter - 2*$gutter;
$columns_3_pad: 3*$column+2*$gutter - 2*$gutter;
$columns_2_pad: 2*$column+1*$gutter - 2*$gutter;

* {
	padding: 0px;
	margin: 0px;
	font-family: 'Helvetica Neue' 'Helvetica', 'Arial', sans-serif;
    -webkit-font-smoothing:antialiased
}
html {
	/*min-width: 445px;*/
}
body {
    position: relative;
    #alpha {
        position: absolute;
        right: 0;
        top: -3px;
        z-index: 101;
    }
}
img {
	border: none;	//avoid stupid borders arond logo and alpha flag in IE
    max-width: 100%;
}
a {
    color: $color;
    &:hover {
        color: $hover;
    }
}
#header {
    background-color: $new_dark;
    -webkit-box-shadow: 0 0 5px $dark;
    -moz-box-shadow: 0 0 5px $dark;
    box-shadow: 0 0 5px $dark;
    color: white;
    font-size: 0.70em;
    text-transform: uppercase;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    white-space: nowrap;
    height: 40px;
    width: 100%;
    z-index: 6;
}
.right_menu {
    position: absolute;
    top: 0;
    right: 0;
}
.menu {
    float: left;    
    ul {
        list-style-type: none;
        li {
            margin: 0;
            padding: 0;
            text-shadow: 0 1px 1px #000;
            background-color: $new_dark;
            float: left;
            display: block;
            border-right: 1px solid #000;
            border-left: 1px solid #393939;
            &.selected, &.selected:hover {
                background-color: #000;
            }
            &:hover {
                background-color: #000;
            }
            a {
                line-height: 1.8;
                display: block;
                padding: 11px 14px;
                font-weight: bold;
                color: white;
                font-size: 1em;
                text-decoration: none;
            }
        }
    }
    &.locales {
        li {
            background: $new_dark !important;
            &:first-child {
                border-right: none;
                padding-right: 0px !important;
            }
            &:last-child {
                border-left: none;
                a {
                    padding-left: 0;
                }
            }
            a {
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
                filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)0.5;
                opacity: 0.5;
            }
            &:hover a,
            &.selected a {
                opacity: 1;
            }
        }
    }
}
.menu #home {
    background: url(/assets/_new/nav-map.png) no-repeat 15px center;
    &.selected,
    &:hover{
        background: #000 url(/assets/_new/nav-map-active.png) no-repeat 15px center;
    };
    a { padding-left: 40px; }
}
.menu #blog {
    background: url(/assets/_new/nav-news.png) no-repeat 15px center;
    &.selected,
    &:hover{
        background: #000 url(/assets/_new/nav-news-active.png) no-repeat 15px center;
    };
    a { padding-left: 40px; }
}
.menu #feedback {
    background: url(/assets/_new/nav-feedback.png) no-repeat 15px center;
    &.selected,
    &:hover{
        background: #000 url(/assets/_new/nav-feedback-active.png) no-repeat 15px center;
    };
    a { padding-left: 40px; }
}
.menu #about {
    background: url(/assets/_new/nav-about.png) no-repeat 15px center;
    &.selected,
    &:hover{
        background: #000 url(/assets/_new/nav-about-active.png) no-repeat 15px center;
    };
    a { padding-left: 40px; }
}
.menu #mobile_app {
    background: url(/assets/_new/nav-phone.png) no-repeat 15px center;
    &.selected,
    &:hover{
        background: #000 url(/assets/_new/nav-phone-active.png) no-repeat 15px center;
    };
    a { padding-left: 40px; }
}
.note {
    color: $note_color;
    font-size: 0.8em;
}
hr {
    border-color: $light;
    margin-bottom: $half_gutter;
}
.clear {
    clear: both;
}
#flash {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -115px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 3;
    color: white;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    border: 0;
    font-size: 14px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    &.notice {
        background-color: $highlight;
    }
    &.alert {
        background-color: $error;
    }
    &.empty {
        background-color: transparent;
    }   
}
#content {
    #flash {
        top: -40px !important;
    }
}
h1, h2 {
    color: $dark;
    margin-bottom: 0.3em;
    a {
        text-decoration: none;
    }
}
h1 {
    font-size: 1.6em;
    margin-bottom: 0.3em;
}
h2 {
    font-size: 1.3em;
}
p {
    margin-bottom: 0.5em;
}

#mobileapp {
    position: absolute;
    top: -255px;
    right: 120px;
    width: 360px;
    height: 200px;
    z-index: 5;
    background: #222;
    border: 2px solid #000;
    box-shadow: 0 5px 5px rgba(255,255,255,0.2) inset, 0 5px 5px rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: all 0.65s ease;
    -moz-transition: all 0.65s ease;
    -ms-transition: all 0.65s ease;
    -o-transition: all 0.65s ease;
    transition: all 0.65s ease;
    .phone {
        width: 142px;
        height: 162px;
        background: image-url('_new/app-phone.png') no-repeat center center;
        position: absolute;
        left: 0;
        top: 150px;
        opacity: 0;
        -webkit-transition-delay: 2s;
        -moz-transition-delay: 2s;
        -ms-transition-delay: 2s;
        -o-transition-delay: 2s;
        transition-delay: 2s;
        -webkit-transition: all 0.65s ease;
        -moz-transition: all 0.65s ease;
        -ms-transition: all 0.65s ease;
        -o-transition: all 0.65s ease;
        transition: all 0.65s ease;
    }
    .download {
        position: absolute;
        bottom: 3px;
        left: 20px;
        width: 320px;
        div {
            width: 160px;
            float: left;
            &:last-child {
                text-align: right;
            }
        }
    }
    .text {
        width: 160px;
        position: absolute;
        top: 30px;
        right: 30px;
        h1 {
            font-size: 20px;
            margin-bottom: 8px;
            line-height: 1;
            color: #fff;
        }
        p {
            font-size: 14px;
            color: #999;
        }
    }
}
#mobileapp.rendered {
    top: 55px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    .phone {
        top: -20px;
        opacity: 1;
    }
}
.mobile_nav_trigger { display: none; }
@media only screen and (max-width: 900px) and (min-width: 767px) {
    .menu {
        float: left;
        &.mobile {
            display: none;
        }
        ul {
            list-style-type: none;
            li {
                text-shadow: 0 1px 1px #000;
                background-color: $new_dark;
                float: left;
                display: inline-block;
                height: 40px;
                border-right: 1px solid #000;
                border-left: 1px solid #393939;
                &.selected, &.selected:hover {
                    background-color: #000;
                }
                &:hover {
                    background-color: #000;
                }
                a {
                    padding: 0px 8px;
                    line-height: 3.7em;
                    font-weight: bold;
                    color: white;
                    font-size: 1em;
                    text-decoration: none;
                }
            }
        }
        
    }
}
@media only screen and (max-width: 767px) {
    #header {
        height: auto;
        min-height: 40px;
    }
    .mobile_nav_trigger {
        position: absolute;
        right: 15px;
        top: 13px;
        width: 20px;
        height: 13px;
        background: image-url('_new/mobile-trigger.png');
        -webkit-background-size: 20px 13px;
        background-size: 20px 13px;
        z-index: 5;
        display: block;
        cursor: pointer;
    }
    .right_menu {
        position: relative;
    }
    .menu {
        display: none;
        float: none;
        &.mobile {
            display: none !important;
        }
        ul {
            li {
                height: 40px;
                overflow: hidden;
                float: none;
                display: block;
                height: auto;
                border-top: 1px solid #313131;
                border-bottom: 1px solid #1f1f1f;
                border-left: none;
                border-right: none;
                &.selected, &.selected:hover {
                    background-color: #000;
                }
                &:hover {
                    background-color: #000;
                }
                a {
                    display: block;
                    padding: 0px 12px;
                    line-height: 3.7em;
                    font-weight: bold;
                    color: white;
                    font-size: 1em;
                    text-decoration: none;
                }
            }
        }
        &.locales {
            li {
                background: $new_dark !important;
                &:first-child {
                    border-right: none;
                    padding-right: 0px !important;
                }
                &:last-child {
                    border-left: none;
                    a {
                        padding-left: 14px;
                    }
                }
                a {
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
                    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)0.5;
                    opacity: 0.5;
                }
                &:hover a,
                &.selected a {
                    opacity: 1;
                }
            }
        }
    }
}