/*
*= require leaflet
*/
@import "base.css.scss";
html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
}
#viewport {
	height: 100%;
	position: relative;
	overflow: hidden;
}
#map {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 0;
}
#ui {
	overflow: hidden;
	position: absolute;
	z-index: 1;
	width: 350px;
	box-shadow: 0px 5px 5px rgba(0,0,0,.5);
	top: 10px;
	left: 10px;
    padding: $half_gutter - 2*$border_width;
    border-radius: 4px;
    border: $border_width solid $lightish;
	background: $light;
  &.folded {
		width: 16px;
		height: 16px;
		.fold {
			display: block;
			background: image-url('expand.png');
		}
		#ui_foldable {
			display: none;
		}
	}
	.fold {
		cursor: pointer;
		width: 16px;
		height: 16px;
		float: left;
		background: image-url('close.png');
	}
	.reset, .permalink, .details, .help {
		font-size: 0.8em;
		float: right;
		color: $color;
		cursor: pointer;
		margin-left: 10px;
		text-decoration: none;
		&:hover {
			color: black;
		}
	}
	h1 {
		color: $highlight;
		font-size: 1em;
		margin-bottom: 0.5em;
		font-style: italic;
	}
	.mode {
		margin: 10px 0;
		span {
			margin-right: 10px;
			&.proposed {
				color: $medium;
			}
		}
	}
	#addresses {
		.address {
			label {
				display: inline-block;
				width: 17px;
				font-size: 1em;		
				font-weight: bold;
			}
			input {
				width: 320px;
				padding: 3px 1px;
				font-size: 1em;
			}
			margin-bottom: 3px;	
		}
		margin-bottom: 10px;	
	}
	#time {
		font-size: 0.9em;
		input {
			font-size: 0.9em;
			width: 50px;
		}
	}
	#summary {
		display: none;
		margin-top: 10px;
		.duration, .distance {
			font-size: 1.3em;
			font-weight: bold;
		}
		.notice {
			border: 1px solid #cc8;
			background-color: #fec;
			color: black;
			padding: 10px;
			margin-bottom: 10px;
		}
	}
	#instructions_div {
	    display: none;
	}
	#instructions {
	    display: block;
		margin-top: 10px;
		max-height: 300px;
		overflow-y: scroll;
		li {
		    padding: 3px;
			cursor: pointer;
			&:hover {
				background-color: #ff4;
				color: black;
			};
		}
		li + li {
			padding-top: 6px;
			border-top: 1px solid $lightish;
			margin-top: 6px;
		}
	}
}
#help {
	display: none;
  opacity:0.9;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	width: auto;
	box-shadow: 0px 5px 5px rgba(0,0,0,.5);
	margin-left: 10px;
	margin-right: 10px;
	bottom: 45px;
  padding: $half_gutter - 2*$border_width;
  border-radius: 4px;
	background: $dark;
	color:white;
	line-height: 1.3em;
	h2 {
		color: white;
	}
	font-size: 0.9em;
	a.help {
		font-size: 0.8em;
		float: right;
		color: $color;
		cursor: pointer;
		margin-left: 10px;
		text-decoration: none;
		&:hover {
			color: black;
		}
	}
}
.leaflet-control {
	background-color: white;
    border: $border_width solid $lightish;
	border-radius: 4px;
	box-shadow: 0px 5px 5px rgba(0,0,0,.5);
}
.leaflet-control-goto {
	padding: 5px;
	a {
		width: 26px;
		height: 26px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		display: block;
	}
}
.leaflet-control-zoom {
	padding: 9px;
}
.leaflet-control-goto-my-location {
	background-image: image-url('location.png');
	margin-bottom: 5px;
}
.leaflet-control-goto-route {
	background-image: image-url('route.png');
}
::-webkit-input-placeholder {
	color: #ddd;
}
:-moz-placeholder {
	color: #ddd;
}
:-ms-input-placeholder {
	color: #ddd;
}
