/*
*= require leaflet
*/

@import "base.css.scss";

html {
	height:100%;
	overflow:hidden;
}

#uvTab{
	right:20px !important;
}

body{
	height:100%;

	div.route{
		height:200px;
		clear:both;
		float:left;
		overflow-y:scroll;
		display:none;

		.instruction{
			background: #eee;
			padding: 6px;
			font-size:15px;
			line-height:18px;
			&.even{
				background: white;
			}
		}


	}

	#topbar{




		overflow:hidden;
		position: absolute;
		z-index:10;
		width:350px;
		padding:10px;
		margin:10px;
		border:2px solid #EEEEEE;
		border-radius:5px;
		box-shadow:0px 1px 1px rgba(0,0,0,.5);
		opacity:.95;
		top:0px;

		.actions{
			float:left;
		}

		.meta{

			display:none;

			.link{
				margin-top:10px;
				float:left;
				clear:both;
				font-weight:bold;
				margin-bottom:10px;
				&:hover{
					color:black !important;
				}
			}

			.instructions{
				float:left;
				clear:both;
				cursor:pointer;
				font-weight:bold;
				width:100%;
				&:hover{
					text-decoration:underline;
				}

				background:url(/assets/colapse-expand.png) right top no-repeat;

				&.colapse{
					background:url(/assets/colapse-expand.png) right bottom no-repeat;					
				}
			}

		}

		.reset{
			float:right;
			color:#DB483B;
			cursor:pointer;
		}

		.time{
			border-top:1px dashed #EFEEED;
			opacity: .8;
			width:346px;
			height:54px;
			margin-top:20px;
			display:none;
			padding:20px 2px 20px;
			z-index:99;
			float:left;
			p{
				text-transform:capitalize;
				font-size:16px;
				width:100%;
				margin-bottom:8px;

				span{
					float:right;
					font-weight:bold;

				}
			}
		}

		.disclaimer{
			color:#aaa;
			float:left;
			width:286px;
			font-size:12px;
			margin-top:18px;
			margin-left:2px;
		}


		.control{
			cursor:pointer;
			width:16px;
			height:16px;
			background:red;
			float:left;
			clear:both;

			&.close{
				background:url('/assets/close.png');
			}

			&.expand{
				background:url('/assets/expand.png');				
			}
		}

		img.logo{
			float: right;
			cursor:pointer;
			margin-right:-1px;
			margin-top:12px;
		}



		.label{

			&.text{
				background:#eee;
				padding:10px;
				width:330px;
				margin-top:10px;
				display:none;
				input{
					width:309px !important;
					border:none !important;
				}
			}

			p{
				font-size:14px;		
				margin-bottom:4px;	
				float:left;
				font-weight:bold;

				&.clear{
					float:right;
					text-transform:uppercase;
					cursor:pointer;
					display:none;
					margin-right:2px;
					font-size:10px;
					color:#aaa;
					margin-top:6px;
					margin-bottom:-10px;
					&:hover{
						color:#F72C34;
						text-decoration:underline;
					}
				}

				

			}







			input[type=text]{
				padding:10px;
				font-size:16px;
				line-height:20px;
				border:2px solid #eee;
				clear:both;
				float:left;
				width:326px;

				&.link{
					color:#888;
				}
			}


			margin-top:10px;
			float:left;
			clear:left;

		}
		float:left;
		clear:none;

		.delete{
			width:40px;
			height:40px;
			margin-top:2px;

			float:right;
			cursor:pointer;
			clear:none;
			background:url('/assets/cancel.png') no-repeat center center;
		}


		background:white;
	}

	#viewport{
		width:100%;
		position: relative;
		overflow:hidden;
		border-left-color:#ddd;
		height:100%;
		float:left;
		clear:none;



		#map {
			position: fixed;
			left: 0;
			height: 100%;
			z-index: 0;
		}
	}

}

.ln{
	display:none;
	position: absolute;
	bottom:60px;
	right:35px;
	float:left;
	display: inline-block;
	background-color: #fff;
	color: #c00;
	font-size:12px;
	color:#c00;
	margin-right:10px;
	padding:10px;
	border-radius:5px;
	text-decoration:none;
	font-weight:bold;
	border:2px solid #888;

}

.leaflet-control{
	background:white;
		border:2px solid #EEEEEE;
	box-shadow:0px 1px 1px rgba(0,0,0,.5);

}