<div class="g6">
	<h1>Emails</h1>
	<table>
		<tr>
			<th>Address</th>
			<th>Status</th>
		</tr>
		<% for email in @emails %>
		<tr>
			<td><%= email.uid %></td>
			<td><%= email.state %></td>
		</tr>
		<% end %>
	</table>
	<br>
	<p>
		<%= link_to 'Add Email', new_email_path %>
	</p>
</div>