<div id="viewport">
  <div id="map"></div>
  <div id="ui">
    <div id="search"></div>
    <div id="route_info">
      <div id="summary" class="pad">
        <span class='distance'></span>
        <span class='duration'></span>
        <a class="details"><%=t 'map.route_instructions' %></a>
      </div>
      <div id="instructions_div" class="pad"></div>
    </div>
  </div>
  <div id="help">
      <a id="toggle_help"><%=t 'map.help_dialog.hide_help' %></a>
      <h2><%=t 'map.help_dialog.title' %></h2>
      <%= simple_format t('map.help_dialog.body') %>
  </div>
</div>