<div id="viewport">
  <div id="map"></div>
  <div id="ui">
    <div id="search"></div>
    <div id="summary">
        <a class="details"><%=t 'map.route_instructions' %></a>
        <span class='distance'></span>
        &nbsp;&nbsp;&nbsp;
        <span class='duration'></span>
    </div>
    <div id="instructions_div"></div>
  </div>
  <div id="help">
      <a id="toggle_help"><%=t 'map.help_dialog.hide_help' %></a>
      <h2><%=t 'map.help_dialog.title' %></h2>
      <%= simple_format t('map.help_dialog.body') %>
  </div>
</div>