<div id="header">
	<%= link_to image_tag("/assets/ibikecph_white.png"), root_path %>
	<div class="menu">
		<%= render_navigation :context => :main %>
	</div>
	<div class="menu login">
		<%= render_navigation :context => :login %>
	</div>
</div>
