<div id="header">
	<img src="/assets/ibikecph.png" alt="">
	<div class="menu">
		<%= render_navigation :context => :main %>
	</div>
	<div class="menu login">
		<%= render_navigation :context => :login %>
	</div>
	<div class="menu locales">
		<%= render_navigation :context => :locale %>
	</div>
	<img src="/assets/alpha.png" alt="" class="alpha">
</div>
