<div id="header">
	<img src="/assets/ibikecph.png" alt="">
	<div class="menu">
		<%= render_navigation :context => :main %>
	</div>
		<div class="menu login">
		<%= render_navigation :context => :login %>
	</div>
</div>
