<h6>Add Login Method</h6>
<p>You can add login via these services by clicking the icons.</p>
<br>
<%= link_to image_tag('facebook.png'), '/auth/facebook' %><br>
<%= link_to image_tag('twitter.png'), '/auth/twitter' %>